.footer {
	padding-top: 55px;
	background-color: #151515;
}

.container9 {
	margin: auto;
	margin-left: 350px;
}

.row9 {
	display: flex;
	flex-wrap: wrap;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about p {
	margin-bottom: 20px;
	color: #DDD;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h6 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}

.footer__newslatter {
	margin-bottom: 30px;
}

.footer__newslatter h6 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.footer__social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #e1e1e1;
	font-size: 15px;
	color: #111111;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
	margin-bottom: 5px;
}

.footer__social a:last-child {
	margin-right: 0;
}

.footer__social a:hover {
	color: #151515;
	background-color: #FFF;
}

.footer__copyright__text {
	border-top: 1px solid #e1e1e1;
	padding: 18px 0 25px;
	text-align: center;
	margin-top: 35px;
	width: 68%;
}

.footer__widget ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer__copyright__text p {
	margin-bottom: 0;
	color:#fff
}

.footer__copyright__text a {
	color: #fff;
}